.header {
  text-align: center;
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.header-title {
  display: block;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

#my-picture {
  width: 50vw;
}

#yaldy {
  display: inline-block;
  width: 10vw;
}