.bi-line {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  font-size: 90%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(27, 27, 27);
}

.body-copy {
  font-size: 90%; 
}

.button {
  color: rgb(55, 55, 55);
  border:rgb(55, 55, 55) 2px solid;
  background: white;
  border-radius: 2px;
  font-weight: bolder;
  padding: 2px 10px;
  margin-top: 10px;
  font-size: 105%;
}

.button:hover {
  background: #eceeee;
  color: #424242;
  padding: 3px 11px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact-icon {
  height: 20px;
  margin-right: 5px;
}

.contact-text {
  vertical-align: top;
}

h1 {
  width: 90%;
  margin: auto;
  font-size: 95%;
  font: 700;
}

.header {
  text-align: center;
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.header-title {
  display: inline-block;
  justify-self: center;
  margin: 0 auto;
}

.main-body {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

#my-picture {
  display: block;
  margin: 0 auto;
  width: 125px;
}

.not-mobile {
  display: none;
}

.project-box {
  border: 1px solid black;
  border-radius: 3px;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.project-description {
  text-align: left;
}

.project-image {
  width: 50%;
  max-width: 700px;
}

.project-link {
  display: inline;
  margin: 0 5px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 80%;
  color: blue;
}

.project-stack {
  font-weight: 500;
  font-style: oblique;
  font-size: 90%;
}

.row {
  display: flex;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto ;
  justify-content: space-around;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.top-link {
  display: inline-block;
  text-decoration: none;

}

.top-nav {
  list-style: none;
  width:100%;
  margin: 0 auto 20px;
}

ul {
  margin: 0 auto;

}

#yaldy {
  width: 10vw;
  padding-top: 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  /* .not-mobile {
    display: block;
  } */
}